:root {
  background-color: antiquewhite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 50%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5rem;
  color: blueviolet;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 4.5rem;
}

p {
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
}

a {
  font-size: 2rem;
}

.container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

question {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 500px;
  height: 500px;
  border: 1px solid blueviolet;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  color: antiquewhite;
  background: blueviolet;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(76, 29, 121);
}

.final-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid rgb(192, 151, 230);
}

input::placeholder {
  color: cadetblue;
}

li {
  background-color: blueviolet;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 1.5rem;
  color: antiquewhite;
}

#container {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 500px;
  height: 500px;
  border: 1px solid blueviolet;
}

#createDiv {
  font-size: medium;
  margin-top: 20px;
  border-top: 1px solid rgb(187, 138, 233);
}

#createLabel {
  font-size: 1.8rem;
}

#quizDiv {
  margin: 50px;
  font-size: large;
}

#currentTime {
  float: left;
  font-size: medium;
}

#saveScoreBtn {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  color: antiquewhite;
  background: blueviolet;
  border-radius: 4px;
}

#Submit {
  font-size: 2rem;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#final-text {
  font-size: 2.5rem;
  color: blueviolet;
  text-align: center;
}

textarea {
  width: 90%;
  margin: 20px;
}
