:root {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 50%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5rem;
  color: blueviolet;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 4.5rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  color: antiquewhite;
  background: blueviolet;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(76, 29, 121);
}

/* .btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
} */

/* #highscore-btn {
    background: linear-gradient();
}

#highscore-btn:hover {
    box-shadow: ;
} */
